:root{
    --first-color: #fcfcfc;
    --second-color: #178ca4;
    --third-color: #072a40;
    --fourth-color:#afd275;
    --fifth-color: #e7717d;
    --sixth-color: #18b7be;
    --shadow-col:#a8a1a1;
}
.blog-cont a{
    color: var(--second-color);
}
.blog-cont a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: var(--second-color);
}
.heading h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 50px;
}

.blog-cont h4 {
    font-size: 32px;
    color: var(--third-color);
    line-height: 40px;
    font-weight: 600;
    padding: 0;
    margin: 0 0 20px 0;
}

.blog-cont h3 {
    font-size: 50px;
    color: var(--third-color);
    line-height: 50px;
    font-weight: 600;
    padding: 0;
    margin: 0 0 20px 0;
}

.blog-cont h5 {
    color: #79797a;
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.blog-cont {
    padding-top: 30px;
    padding:250px;
    margin-bottom: 0;
    background: var(--first-color);
}





.blog-cont-2 {
    padding: 40px;
    box-shadow: 0 0px 45px -31px #000;
    margin-bottom: 0;
    background: var(--first-color);
    text-align: center;
}

.blog-cont-2 h3 {
    font-size: 38px;
    color: var(--third-color);
    line-height: 50px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.sublittle {
    color: var(--fifth-color);
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
}

.full {
	float: left;
	width: 100%;
    
}
.img-blog {
	max-width: 100%;
}
