{% extends 'base/layout.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}AlMustafa | {{object.name}}{% endblock %}
{% block decription %}This is a portfolio website for AlMustafa Noureddin.{% endblock %}
{% block keywords %}AlMustafa,AlMustafa Noureddin,Portfolio,portfolio website,data engineering,data engineer,data analysis, django{% endblock %}
<!-- ================================
END SEO blocks
================================= -->
<!-- ================================
Start page specific CSS blocks
================================= -->
{% block extend_header %}
<link rel="stylesheet" href="{% static 'assets/css/detail.css'%}">
{% endblock %}
<!-- ================================
END page specific CSS blocks
================================= -->

<!-- ================================
Start page specific script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END page specific script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<!-- section --> 

   <div class="col-md-8 offset-md-2">
      <div class="full">
         <center>
         <div class="big-blog">
            <img class="img-blog" src="{{object.thumbnail.url}}" alt="#" />
         </div>
      </center>
         <div class="blog-cont-2">
            <h3>{{object.name|title}}</h3>
            <h5>Topics:</h5>
            {% for topic in object.topic.all %}
            <h6>{{topic.skill}}, {{topic.skill_category}}</h6>
            {% endfor %}
            <p class="sublittle">{{object.timestamp.date}}</p>
         </div>
         <div class="blog-cont">
            <p> {{object.body|safe}}</p>
         </div>
      </div>
   </div>

<!-- end section -->
{% endblock %}
<!-- ================================
End Content
================================= -->

