{% extends 'base/layout.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}AlMustafa | Projects{% endblock %}
{% block decription %}This is a portfolio website for AlMustafa Noureddin.{% endblock %}
{% block keywords %}AlMustafa,AlMustafa Noureddin,Portfolio,portfolio website,data engineering,data engineer,data analysis, django{% endblock %}
<!-- ================================
END SEO blocks
================================= -->
<!-- ================================
Start page specific CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END page specific CSS blocks
================================= -->

<!-- ================================
Start page specific script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END page specific script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<!--===== projects =====-->
<!-----projects section start----------->
<main class="l-main">
  <section class="projects-section" id="projects">
    <h2 class="section-title">projects</h2>
    <div class="projects">
      <h2 class="section-title">projects</h2>
      <div class="box">
        
        {% for project in projects %}
          {% if project.is_active %}
            <div class="column skill-acard acard" style="margin: 15px"data-aos="zoom-in-up" data-aos-easing="linear" data-aos-delay="300" data-aos-duration="600" >
              <div class="wrapper" style="background: url('{{project.thumbnail.url}}') center / cover no-repeat;">
                <div class="header">
                </div>
                <div class="data">
                  <div class="content">
                    <div class="title-div">
                      <h1 class="title"><a href="{% url 'base:project' slug=project.slug %}">{{project.name}}</a></h1>
                    </div>
                    <p>{{project.description}}</p>
                    <ul class="menu-content"><br>
                      <li><a href="{{project.live_link}}" class="social-icon-project"  target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" viewBox="0 0 30 28" fill="none" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg></a></li>
                      <li><a href="{{project.github_link}}" class="social-icon-project"  target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" viewBox="0 0 30 28" fill="none" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        
      </div>
    </div>
  </section>
</main>
{% endblock %}
<!-- ================================
End Content
================================= -->

